@font-face {
  font-family: "Abril Fatface";
  src: url("AbrilFatface-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-CondBold.ttf") format("truetype");
}
